
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php73 .php .php7 .phtml
</IfModule>

SetEnvIf Origin "^(.*\.apps-handel\.com)$" ORIGIN_SUB_DOMAIN=$1
<FilesMatch "\.(woff|pdf|woff2|html)$">
	Header set Access-Control-Allow-Origin: *
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://sivah.apps-handel.com/$1 [L,R=301]
