# BEGIN custom php.ini PHP71
<IfModule mod_suphp.c>
    suPHP_ConfigPath /home/appshand/api.apps-handel.com
</IfModule>

#SetEnvIf Origin "^(.*\.apps-handel\.com)$" ORIGIN_SUB_DOMAIN=$1
#<FilesMatch "\.(woff|pdf|woff2|html)$">
#    Header set Access-Control-Allow-Origin "%{ORIGIN_SUB_DOMAIN}e" env=ORIGIN_SUB_DOMAIN
#</FilesMatch>

SetEnvIf Origin "^(.*\.apps-handel\.com)$" ORIGIN_SUB_DOMAIN=$1
<FilesMatch "\.(woff|pdf|woff2|html)$">
	Header set Access-Control-Allow-Origin: *
</FilesMatch>




# ----------------------------------------------------------------------
# Allow loading of external fonts
# ----------------------------------------------------------------------

# END custom php.ini



RewriteEngine on
# Use PHP71 as default
AddHandler application/x-httpd-php71 .php

<IfModule mod_php5.c>
    #Session timeout
    #Session timeout, 2628000 sec = 1 month, 604800 = 1 week, 57600 = 16 hours, 86400 = 1 day

    php_value session.cookie_lifetime 57600
    php_value session.gc_maxlifetime 57600
</IfModule>
